@model IEnumerable<Hasdrubal__Project.Models.Oeuvre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomArtiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresnomArtiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materiaux)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Support)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions2D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbElements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTitrage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTitrage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artiste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomArtiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresnomArtiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiaux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Support)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions2D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbElements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTitrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTitrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artiste.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
