@model Hasdrubal__Project.Models.Redaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Redaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRedacteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRedacteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRedaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRedaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oeuvre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oeuvre.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
